 
.nav-banner-container {
    background: linear-gradient( rgba(221, 0, 184, 0.5),rgba(96, 0, 221, 0.5)), url('./images/banner-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}
